<nav>
    
    <ul class="nav-ul">
       
        <% if(user) { %>

        <li class="nav-list">
            <a class="li-a" href="/">Home</a>
        </li>
        <li class="nav-list">
            <a class="li-a" href="/employees">Employees List</a>
        </li>
        <li class="nav-list">
            <a class="li-a" href="/employees/new">Add a New Employee</a>
        </li>
        <li class="nav-list">
            <a class="li-a" href="/logout">Logout</a>
        </li>
        <% } else { %>

        <li class="nav-list">
            <a class="li-a" href="/signup">Sign Up</a>
        </li>
        <li class="nav-list">
            <a class="li-a" href="/login">Login</a>
        </li>

        <% } %>
    </ul>
</nav>