<nav>
    <ul class="nav-ul">
      
       <li class="nav-list">
            <a class="li-a" href="/">Home</a>
        </li>
       
        <li class="nav-list">
            <a class="li-a" href="/employees">Employees List</a>
        </li>
        <li class="nav-list">
            <a class="li-a" href="/employees/new">Add a New Employee</a>
        </li>
    </ul>
</nav>